<nav class="navbar navbar-expand-lg navbar-light py-md-2">
  <span class="navbar-brand mb-0 h1">Log system</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="!isAuthenticated" class="nav-item">
        <a class="nav-link" routerLink="LogIn" routerLinkActive="active">Log in</a>
      </li>
      <li *ngIf="!isAuthenticated" class="nav-item">
        <a class="nav-link" routerLink="SignUp" routerLinkActive="active">Sign up</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item">
        <a class="nav-link" [routerLink]="['/Users/', cookieValue.UserID]" routerLinkActive="active">Profile</a>
      </li>
      <li *ngIf="isAuthenticated && cookieValue.UserType == 'Admin'" class="nav-item">
        <a class="nav-link" routerLink="UserActions/" routerLinkActive="active">User actions</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item">
        <a class="nav-link" (click)="logOut()" routerLinkActive="active">Log out</a>
      </li>      
    </ul>
  </div>
</nav>
