<h2 class="text-primary">Profile</h2>

<form *ngIf="user" [formGroup]="editUserForm" (ngSubmit)="onSubmit()">

  <div class="form-group row">
    <label for="userName" class="col-sm-2 col-form-label">User name: </label>
    <div class="col-sm-10">
      <input id="userName" type="text" formControlName="userName" class="form-control" placeholder="User name">
    </div>
  </div>

  <div class="form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">First name: </label>
    <div class="col-sm-10">
      <input id="firstName" type="text" formControlName="firstName" class="form-control" placeholder="First name">

      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger alert-validation">
        <div *ngIf="firstName.errors.pattern">
          Inalid first name.
        </div>
      </div>

    </div>
  </div>


  <div class="form-group row">
    <label for="lastName" class="col-sm-2 col-form-label">Last name: </label>
    <div class="col-sm-10">
      <input id="lastName" type="text" formControlName="lastName" class="form-control" placeholder="Last name">

      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger alert-validation">
        <div *ngIf="lastName.errors.pattern">
          Inalid last name.
        </div>
      </div>
    </div>
  </div>


  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Password: </label>
    <div class="col-sm-10">
      <input id="password" type="password" formControlName="password" class="form-control" placeholder="Password">

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger alert-validation">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.pattern">
          Password should contain minimum 6 characters, at least 1 letter and 1 number.
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm password: </label>
    <div class="col-sm-10">
      <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm password">

      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger alert-validation">
        <div *ngIf="confirmPassword.errors.required">
          Confirm your password.
        </div>
      </div>

      <div *ngIf="editUserForm.errors?.noPasswordConfirm && (confirmPassword.touched || confirmPassword.dirty)" class="alert alert-danger alert-validation">
        The value should be equal to password.
      </div>
    </div>
  </div>


  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email: </label>
    <div class="col-sm-10">
      <input id="email" type="email" formControlName="email" class="form-control" placeholder="Email">

      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger alert-validation">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
        <div *ngIf="email.errors.pattern">
          Inalid email.
        </div>
      </div>
    </div>
  </div>

  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">User type</legend>
      <div class="col-sm-10">

        <div *ngFor="let typeOption of typeList" class="form-check">
          <input class="form-check-input" [id]="typeOption.toLowerCase()" type="radio" [value]="typeOption" name="type" formControlName="type"
                 [checked]="type.value == typeList.indexOf(typeOption)">
          <label class="form-check-label" [for]="typeOption.toLowerCase()">{{typeOption}}</label>
        </div>

      </div>
    </div>
  </fieldset>

  <div class="form-group row">
    <label for="registrationDate" class="col-sm-2 col-form-label">Registration date: </label>
    <div class="col-sm-10">
      <input id="registrationDate" [value]="registrationDate.value | date" type="text" formControlName="registrationDate" class="form-control">
    </div>
  </div>


  <div class="form-group row">
    <div class="col-sm-10 text-center">
      <button class="btn btn-primary btn-lg" type="submit" [disabled]="!editUserForm.valid">Save</button>
    </div>
  </div>

</form>

