<div class="container">
  <h2 class="text-primary">Actions</h2>

  <form (ngSubmit)="filter()" #filterForm="ngForm">

    <div class="form-group row">
      <label for="filterBy" class="col-sm-2 col-form-label">Filter by</label>
      <div class="col-sm-10">
        <select class="form-control" id="filterBy" required name="filterBy"
                [(ngModel)]="model.filterBy">
          <option *ngFor="let filtBy of filterByOptions" [value]="filtBy">{{filtBy}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="model.filterBy == 'UserName' ">
      <div class="form-group row">
        <label for="userName" class="col-sm-2 col-form-label">User name: </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="userName"
                 name="userName" [(ngModel)]="model.userName" placeholder="User name">
        </div>
      </div>
    </div>

    <div *ngIf="model.filterBy == 'Type' ">
      <div class="form-group row">
        <label for="type" class="col-sm-2 col-form-label">Type:</label>
        <div class="col-sm-10">
          <select class="form-control" id="type" name="type" [(ngModel)]="model.type">
            <option *ngFor="let type of typeOptions" [value]="typeOptions.indexOf(type)">
              {{type}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div *ngIf="model.filterBy == 'Date' ">
      <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">Date:</label>
        <div class="col-sm-10">
          <div date-picker>
            <dp-date-picker class="form-control" id="date" name="date" placeholder="Date" returnedValueType="string"
                            [(ngModel)]="model.date" [config]="datePickerConfig"></dp-date-picker>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10 text-center">
        <button class="btn btn-lg btn-primary" type="submit" [disabled]="!filterForm.form.valid" (click)="filter()">
          <fa name="filter" aria-hidden="true"></fa>
        </button>

        <button class="btn btn-lg btn-primary" type="button" (click)="clearFilter()">
          <fa name="times" aria-hidden="true"></fa>
        </button>
      </div>
    </div>

  </form>


  <table *ngIf="filteredUserActions" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          UserName
          <button type="button" (click)="sortBy = 'UserName'">
            <fa name="sort-down" aria-hidden="true"></fa>
          </button>
        </th>
        <th scope="col">
          Type
          <button type="button" (click)="sortBy = 'Type'">
            <fa name="sort-down" aria-hidden="true"></fa>
          </button>
        </th>
        <th scope="col">
          Date
          <button type="button" (click)="sortBy = 'Date'">
            <fa name="sort-down" aria-hidden="true"></fa>
          </button>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="filteredUserActions && filteredUserActions.length">
      <tr *ngFor="let userAction of filteredUserActions | sortBy: sortBy ">
        <td>{{userAction.UserName}}</td>
        <td>{{typeOptions[userAction.Type]}}</td>
        <td>{{userAction.Date | date }}</td>
      </tr>
    </tbody>
  </table>

  <div class="alert alert-primary text-center" role="alert" *ngIf="!(filteredUserActions && filteredUserActions.length)">
    No actions found.
  </div>
 

</div>
